.form-timer-container {
  grid-area: l;
  background-color: #2B2733;
}

.form-timer-inner-container {
  background-color: #46424D;
  border-radius: 5px;
  box-shadow: 3px 3px #26222D;
  margin: 0 5%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 5% 10%
}

.menu-buttons {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.menu-buttons button {
  width: 27%;
  height: 4em;
  border: 2px solid lightgray;
  background-color: #46424D;
  font-size: 1.2em;
  color:  #CBC9CF;
  outline: none;
  text-align: center;
}
.menu-buttons img{
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 2px
}